body{
    background-color: #EEEEEE;
}
.box-form{
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    overflow: hidden;
}

.box-default{
    background-color: white;
    border-radius: 3px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    overflow: hidden;
}

/* HEADER */

.avatar{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
}

.avatar img{
    height: 100%;
    text-align: center;
}

.box-form input {
    margin-bottom: 10px;
}

/* GENTE */

.user-item .avatar{
    background: #eee;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.user-item .avatar .img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content{
    padding: 10px;
    margin-left: 86px;
}